<html>

<head>
    <title>KhoaPham</title>
    <style>
        table {
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        td{
            padding: 10px;
        }
    </style>
</head>

<body>
    <table>
        <tr>
            <td>STT</td>
            <td>Tiêu đề</td>
            <td>Mô tả</td>
            <td>Ngày đăng</td>
            <td>Hình ảnh</td>
            <td>Quản lý</td>
        </tr>
        <%mangTin.forEach((tin, index) => {%>
            <tr>
                <td><%= index + 1 %></td>
                <td><%= tin.title %></td>
                <td><%= tin.desc %></td>
                <td><%= tin.date %></td>
                <td><img src="<%= tin.image %>" width="100px" /></td>
                <td>
                    <a href="/admin/xoa/<%= index %>">Xoa</a>
                    <a href="/admin/sua/<%= index %>">Sua</a>
                </td>
            </tr>
            <%})%>
    </table>
</body>

</html>